<% content_for :sections do %>
  <section>
    <%= render 'shared/user_info' %>
  </section>
  <section>
    <%= render 'shared/stats' %>
  </section>
  <section>
    <%= render 'shared/micropost_form' %>
  </section>
<% end %>

<% content_for :main do %>
  <h3>Micropost Feed</h3>
  <%= render 'shared/feed' %>
<% end %>

<%= render :file => 'layouts/users' %>
